  *{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	transition: all .3s ease-in-out;	
} 
}
html  {
	height: 100%;	
} 
body, html {
	min-width: 100%;
	min-height: 100%;
	height: 100%;
}
body {
	color: #fff;
	background-color: #3399cc;
	border: #2b81ac solid 25px;
	font-family:“Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
	font-size: 28px;
	}
h1 {
	font-size: 33px;
	font-family: Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
	padding: 30px auto;
}
.table {
	box-sizing: border-box;
	width:100%;
	max-width: 980px;
	height: 620px;
	border: 2px solid #fff;
	background: #3399cc; 
	margin: 30px auto;
	}
.maine {
    box-sizing: border-box;
	width:100%; 
	max-width: 980px;
	margin: 30px auto; 
	} 

 ul {
	font-size: 0;
	margin: 0;
	} 
li {
	display: inline-block; 
	border: 2px solid #fff;
	font-size: 30px;
	width: 100%;
	height: 25%;
	text-align: center;
	padding: 30px;
	line-height: 50px;
}
footer{
	font-size:25px;
}
.lisbon{
	background-color: #3399cc;
	width: 50%;
}
.paris{
	background-color: #33cccc;
	width:25%;
}
.belgrade{
	background-color: #c24747 ;
	width: 25%;
}
.moscow{
	background-color: #c24747;
	width:25%;
}
.telaviv {
	background-color: #e2674a;
	width:25%;
}
.cair{
	background-color:#ffcc66;
	width:25%;
}
.newyork{
	background-color: #99cc99;
	width:25%;
}
.newdelhi {
	background-color: #669999;
	width:25%;
}
.sanfrancisco{
	background: #CC6699;
	width:50%;
}
.tokyo{
	background: #339966;
	width: 25%;
}
.sydney{
	background-color: #666699;
	width:100%
}
.table:hover li {
	opacity: 0.4;
}
.table li:hover{
	opacity: 1;
}


